<!--<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Colapsable con Bootstrap</title>
	Agrega los enlaces a los estilos de Bootstrap 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

	<div class="container mt-5">
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#contenidoCollapse"
						aria-expanded="true" aria-controls="contenidoCollapse">
						Mostrar Contenido
					</button>
				</h5>
			</div>

			<div id="contenidoCollapse" class="collapse show">
				<div class="card-body">
					Tu contenido va aquí 
					<p>Este es el contenido colapsable.</p>
				</div>
			</div>
		</div>
	</div>

	Agrega los enlaces a los scripts de Bootstrap y jQuery (requeridos) 
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
``
-->

<p>About works!</p>